* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 35px;
  }
  
  .page-content {
    display: grid;
    place-items: center;
    background-color: #FEFEFD;
    width: 420px;
  }
  
  .text-menu {
    font-weight: 700; /* Negrito para o título do menu */
    color: #2D3C6F;
  }
  
  .button-action {
    width: 350px;
    height: 150px;
    background-color: transparent; /*Caso precise checar a mão interagindo com o botão, mudar a cor para transparent*/
    border-radius: 8px;
    color: #23356A;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 10px;
    position: absolute;
   }

   .screen{
    width: 100%;
    /* max-width: 800px; */
    height: 280px;
    position: relative;
    place-items: center;
    }

   .output_canvas{
    width: 100%;
    /* max-width: 800px; */
    height: 80%;
    position: absolute;
    /* place-items: center; */
    top: 35px; 
    left: -55px;
    }
   
  .slider {
    width: 640px;
    height: 400px;
    max-width: 800px;
    height: 280px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .slide {
    width: 60%;
    max-width: 800px;
    height: 280px;
    position: absolute;
    transition: all 0.5s;
    padding: 20px;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    /* top: 45%; */
    left: -2%;
  }
  
  .btn-next {
    /* top: 45%; */
    right: 15%;
  }

  .property-bar{
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 10px;
    background-color: grey;
  }

  .property-value-progress{
    width: 1%;
    background-color: #FFF06E;
  }

  progress {
    width: 100%;
    height: 30px;
  }

  progress::-webkit-progress-value {
    background-color: #4CAF50;
  }

  progress::-moz-progress-bar {
    background-color: #4CAF50;
  }