* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
  }
  
  body {
    display: grid;
    place-items: center;
  }
  
  .text-menu {
    font-weight: 700; /* Negrito para o título do menu */
  }
  
  .button-action {
    width: 100%;
    height: 100%;
    background-color:transparent;
    border-radius: 8px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 10px;
   }

   .screen{
    width: 100%;
    max-width: 800px;
    height: 280px;
    position: relative;
    place-items: center;
    }

   .output_canvas{
    width: 80%;
    max-width: 800px;
    height: 80%;
    position: absolute;
    place-items: center;
    top: 35px; left: 45px;
    }
   
  .slider {
    width: 100%;
    max-width: 800px;
    height: 280px;
    position: relative;
    border-radius: 15px;
  }
  
  .slide {
    width: 90%;
    max-width: 800px;
    height: 280px;
    position: absolute;
    transition: all 0.5s;
    padding: 20px;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: -2%;
  }
  
  .btn-next {
    top: 45%;
    right: 4%;
  }