/* CSS */
.button-ar{
    background-color:transparent;
    width: 80%;
    height: 350px;
    z-index: 0;
    margin: 20px;
}
/* .container{
    width: 100%;
    height: 100%;
} */
.output_canvas{
    z-index: -1000;
    position: absolute;
}


/* <!-- HTML !-->
<button class="button-51" role="button">Button 51</button> */


